/*---   GLOBAL   ---*/
@keyframes slideDown {
  0% { transform: translateY(-200%); }
  100% { transform: translateY(0%); }
}

@keyframes slideRight {
  0% { transform: translateX(200%); }
  100% { transform: translateX(0%); }
}

.App {
  text-align: center;
}

.main {
  height: 100%;
  background-repeat: round;
}

/*---   HEADER   ---*/
header a {
  margin-right: 2rem;
  color: white;
}
header a:hover {
  color: white;
  transform: scale(1.2);
}

#header {
  background-color: #474747;
}

.menu {
  position: relative;
  height: 80rem;
}

/*---   HOME   ---*/
.home {
  opacity: 0.7;
  background-size: 100%;
  background-repeat: repeat;
}

.home > * {
  animation: 1s slideDown;
}

.title {
  margin-top: 10rem;
  font-size: 4rem;
}

.sub {
  font-size: 2rem;
  margin-bottom: 3rem;
}

#btn {
  box-shadow: 10px 10px 10px #474747;
  color: white;
}

/*---   PORTFOLIO   ---*/
.portfolio > * {
  animation: 1s slideRight;
}

.card-portfolio {
  width: 50%;
  margin-left: 25%;
  margin-top: 6rem;
  box-shadow: 5px 10px 10px #474747;
}

.portfolio nav {
  border-bottom: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #474747;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: 1s slideDown;
}

nav a {
  color: #474747;
  border-radius: 10px;
}

/*---   PRESENTATION   ---*/
.accordion {
  width: 60%;
  margin-left: 20%;
  margin-top: 10rem;
  animation: 1s slideRight;
  box-shadow: 10px 10px 10px #474747;
  border-radius: 10px;
}

.accordion .card-body {
  text-align: justify;
}

.accordion .card-header {
  padding: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#lang {
  display: flex;
  justify-content: space-evenly;
}

.liTitle {
  font-weight: bold;
  margin-top: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
}

p Button {
  margin: 2rem;
}

.accordion .card {
  border-radius: 10px;
}

/*---   CONTACT   ---*/
.contact ul {
  list-style-type: none;
  margin-top: 10rem;
  animation: 1s slideRight;
}

.contact li {
  margin-top: 3rem;
  margin-left: 35%;
  text-align: left;
  font-size: 2rem;
}

.contact svg {
  margin-right: 2rem;
  color: #474747;
}

.contact a {
  color: white;
}

/*---   MEDIAQ   ---*/
@media (min-width: 320px) and (max-width: 414px) {

  .menu {
    height: 812px;
  }

  .cardmenu img {
    display: none;
  }

  .main {
    background-repeat: repeat;
    height: 100%;
  }

  .accordion {
    margin-top: 8%;
  }

  .card-portfolio {
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
  }

  .contact li {
    margin-top: 1rem;
    margin-left: 2%;
    text-align: left;
    font-size: 1.2rem;
  }

  .contact svg {
    margin-right: 0.5rem;
  }

  header a {
    margin-right: 0.5rem;
    font-size: 0.5rem;
  }

  .accordion .card-header {
    padding: 1rem;
    font-size: 1rem;
  }

  .accordion a {
    display: none;
  }

  .accordion svg {
    font-size: 1.5rem;
  }

  .portfolio nav {
    height: 15rem;
  }
}

@media (max-width: 768px) {

  .menu {
    height: 1024px;
  }

  .card-portfolio {
    width: 80%;
    margin-left: 10%;
  }

  .accordion {
    width: 80%;
    margin-left: 10%;
  }

  .contact li {
    margin-left: 20%;
  }

  .home,
  .main {
    background-size: auto;
    background-repeat: initial;
  }
}

@media (min-width: 538px) and (max-width: 736px) {

  .portfolio nav {
    height: 8rem;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {

  .home {
    background-repeat: round;
  }

  .accordion {
    margin-top: 2rem;
  }

  .card-portfolio {
    width: 70%;
    margin-left: 15%;
    margin-top: 4rem;
  }

  .contact li {
    margin-left: 25%;
  }

  .menu {
    height: 1024px;
  }

  .portfolio nav {
    height: 6rem;
  }
}

@media (min-width: 812px) and (max-width: 823px) {

  .portfolio nav {
    height: 8rem;
  }
}

@media (min-height: 1200px) {
  
  .menu {
    height: 1366px;
  }
}


