.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

header a {
  margin-right: 2rem;
  color: white;
}

#footer a {
  margin-left: 2rem;
  color: white;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 3px 3px 3px black;
}

#header {
  /*background:linear-gradient(to left, #979AA9, #eaedf7, #979AA9);*/
  background-color: #474747;
}

#footer {
  background-color: #474747;
}

.main {
  background-size: 100%;
  height: 100%;
  opacity: 0.7;
}

.mt {
  margin-top: 6rem;
}

.menu {
  position: relative;
  height: 700px;
}

.val {
    background-size: 100%;
    height: 100%;
}