.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

header a {
  margin-right: 2rem;
  color: white;
}

#footer a {
  margin-left: 2rem;
  color: white;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 3px 3px 3px black;
}

#header {
  background-color: #979AA9;
}

#footer {
  background-color: #979AA9;
}